#para1 {text-align: center;font-family: verdana; font-size: 300%; }
          #para2 {text-align: center;font-family: verdana; font-size: 100%;color: 4B4B4B;}
          #pb {background-color: powderblue;}
          #CB {background-color: #CBFCFC;}
          #sw {background-color: whitesmoke;}
          #A6 {background-color: #A6A6A6;}
          #Hun {width:100%}
          #tw {width:20% }
          #cen {text-align: center;}
          #OO {background-color: #002A62;}
          #vid {width:600px; height: 450px;}